In [1]:
import pandas as pd

/Users/areena.arora/.pyenv/versions/3.10.0/lib/python3.10/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
df = pd.read_csv("jobs_KCS_Sep14.csv")

In [3]:
df

,title,Location,Job Family,Job Class,Posting Start,Posting End,Details,MINIMUM SALARY,DAILY RATE RANGE,Salary,HOURLY RATE RANGE,SALARY RANGE
0,TRANSPORTATION RADIO DISPATCHER TIME CARD,TRANSPORTATION,CLASSIFIED,TIMECARD,7/3/23,5/24/24,JOB DESCRIPTION,NaN,NaN,NaN,NaN,NaN
1,ASSISTANT SOFTBALL COACH / EXTRA / FULTON HIGH...,FULTON HIGH,CLASSIFIED,ATH COACH SOFTBALL ASSISTANT,9/27/22,11/29/23,NaN,NaN,NaN,NaN,NaN,NaN
2,EDUC ASSIST CDC MS 23/24SY,VINE MIDDLE,CLASSIFIED,EDUCATIONAL ASSISTANT SPED MS,7/3/23,9/30/23,JOB DESCRIPTION,"$22,308.00",NaN,NaN,NaN,NaN
3,STRENGTH AND CONDITIONING COACH / HARDIN VALLE...,HARDIN VALLEY ACADEMY,CLASSIFIED,ATHLETIC COACH,7/31/21,11/29/23,NaN,NaN,NaN,NaN,NaN,NaN
4,ASSISTANT FOOTBALL COACH / SOUTH DOYLE HIGH SC...,SOUTH DOYLE HIGH,CLASSIFIED,ATH COACH FOOTBALL ASSISTANT,7/21/22,11/29/23,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
373,EDUC ASSIST SPED HS 23/24SY,CENTRAL HIGH,CLASSIFIED,EDUCATIONAL ASSISTANT SPED HS,7/3/23,9/30/23,JOB DESCRIPTION,"$22,308.00",NaN,NaN,NaN,NaN
374,SUBSTITUTE APPLICANT POOL 23/24SY,SUBSTITUTE,SUBSTITUTES,SUB REG IN CERTIFIED POS,6/26/23,12/31/99,NaN,NaN,NaN,NaN,NaN,NaN
375,EDUC ASSIST TITLE 1 23/24SY,EAST KNOX ELEMENTARY,CLASSIFIED,EDUCATIONAL ASSISTANT ES,7/3/23,9/30/23,JOB DESCRIPTION,"$22,308.00",NaN,NaN,NaN,NaN
376,TCHR LANG ARTS HS SUPPLY THROUGH 12/20/23,FULTON HIGH,CERTIFIED,TEACHER HS ELA,7/3/23,12/20/23,JOB DESCRIPTION,NaN,"$36,100.00-$36,100.00",NaN,NaN,NaN
377,MAINT MOWING CREW,MAINTENANCE,CLASSIFIED,MAINTENANCE - GROUNDS,6/24/21,12/31/99,Job Description,NaN,NaN,NaN,$10.94-$16.93,NaN